<div class="wrapper">
   <div>
    <ul class="main">
        <li class="date">
          <h3>March 13</h3>
          <p>Schedule of Events</p>
        </li>
        <li class= "events">
          <ul class="events-detail">
            <li>
              <a href="#">
                <span class="event-time">2:00pm - </span>
                <span class="event-name">Kickoff Party</span>
                <br />
                <span class="event-location">Living Room</span>
              </a>
            </li>
             
             <li>
              <a href="#">
                <span class="event-time">4:30pm - </span>
                <span class="event-name">Cocktail Tasting/Small Plates</span>
                <br />
                <span class="event-location">Kitchen</span>
              </a>
            </li>
            
             <li>
              <a href="#">
                <span class="event-time">5:00pm - </span>
                <span class="event-name">Let's Eat</span>
                <br />
                <span class="event-location">Kitchen</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="event-time">6:00pm - </span>
                <span class="event-name">Cake Time</span>
                <br />
                <span class="event-location">Kitchen</span>
              </a>
            </li>
          </ul>  
          
        
        </li>
               
      </ul>  
   </div>
   <div *ngIf="show" class="nav">
    <a class="fancyshrink" routerLink="/">Home</a>
   </div>
</div>


