<div  *ngIf="!loading" class="content">
  <ul>
    <form  [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <li>
        <div class="in">
            <div class="input-group input-group-lg">
        
                <input
                  formControlName="name"
                  placeholder="your name goes here.."
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
                
             
            </div>
        </div>
     
    </li>
    <li>
       
        <div class="validation-message" *ngIf="form.get('name').hasError('required') && form.dirty">
            <div class="alert alert-danger" role="alert">
                Oops, please provide a name!
              </div>
            
          </div>
    </li>
    <li>
      <button [disabled]="form.invalid" class="fancyshrink" type="submit">Check in</button>
    </li>
   </form>
  </ul>
</div>
<app-spinner *ngIf="loading"></app-spinner>
